@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Instrument Sans", "sans-serif"; 
    --font-serif: "Instrument Serif", "serif"; 
    --font-mono: "Geist Mono", "monospace";
  }

  body {background-color: #FFFFF6; color: #222848;
}
